.box.box-solid.box-primary {
    border: 1px solid #000000;
}
.box.box-solid.box-primary>.box-header {
    color: #fff;
    background: #000000;
    background-color: #000000;
}
.skin-black .main-header .navbar {
    background-color: #000000;
}
.skin-black .sidebar-menu>li.header {
    color: #ffc90a;
    background: #191919;
}
.skin-black .wrapper, .skin-black .main-sidebar, .skin-black .left-side {
    background-color: #000000;
}
.skin-black .main-header>.logo {
    background-color: #000;
    color: #ffc90a;
    border-bottom: 0 solid transparent;
    border-right: 1px solid #eee;
}
.skin-black .main-header>.logo:hover {
    background-color: #ffc90a;
    color: #000;
}
.skin-black .main-header .navbar>.sidebar-toggle {
    color: #fff;
    border:none;
}
.skin-black .main-header .navbar .sidebar-toggle:hover {
    color: #ffc90a;
    background: #000;
}
.box {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.skin-black .main-header .navbar .nav>li>a {
    color: #fff;
}
.skin-black .main-header .navbar .nav>li>a:hover, .skin-black .main-header .navbar .nav>li>a:active, .skin-black .main-header .navbar .nav>li>a:focus, .skin-black .main-header .navbar .nav .open>a, .skin-black .main-header .navbar .nav .open>a:hover, .skin-black .main-header .navbar .nav .open>a:focus, .skin-black .main-header .navbar .nav>.active>a {
    background: #000;
    color: #ffc90a;
}
.skin-black .main-header .navbar .navbar-custom-menu .navbar-nav>li>a, .skin-black .main-header .navbar .navbar-right>li>a {
    border:none;
}
.skin-black .main-header>.logo {
    border: none;
}
.skin-black .sidebar-menu>li:hover>a, .skin-black .sidebar-menu>li.active>a {
    color: #fff;
    background: #1e282c;
    border-left-color: #ffc90a;
}
.skin-black .sidebar-menu>li.header {
    color: #ffc90a;
    background: #000000;
}

.btn-yellow {
    background-color: #ffca13;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    transition: 0.5s; }
.btn-yellow:hover, .btn-yellow:visited, .btn-yellow:focus {
    color: #333;
    background-color: #ffca13;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
.btn-yellow:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.btn-black {
    background-color: #333333;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    transition: 0.5s; }
.btn-black:hover, .btn-black:visited, .btn-black:focus {
    color: #ffffff;
    background-color: #333333;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
.btn-black:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

/*# sourceMappingURL=admin.css.map */

/****  Admin comments   ***/

.glyphicon { margin-right:5px;}
.rating .glyphicon {font-size: 22px;}
.rating-num { margin-top:0px;font-size: 54px; }
.progress { margin-bottom: 5px;}
.progress-bar { text-align: left; }
.rating-desc .col-md-3 {padding-right: 0px;}
.sr-only-rating { margin-left: 5px;overflow: visible;clip: auto; }

.btn-grey{
    background-color:#D8D8D8;
    color:#FFF;
}
.comment-avatar {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-right: 10px;
}
.review-block-name{
    font-size:14px;
    margin:4px 0;
}
.review-block-title{
    font-size:15px;
    font-weight:700;
    margin-bottom:10px;
}
.review-block-description{
    font-size:14px;
}

.status-request {
    text-align: center;
    color: #fff;
}
.expect {
    background: #1e85b8;
}
.in_work {
    background: #5cb85c;
}
.pend {
    background: orange;
}
.cancel {
    background: #d9534f;
}
.cancel_comment, .operator_comment {
    padding: 10px;
    background: #000;
}