@charset "UTF-8";
/* font-family: "LatoRegular"; */
@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/LatoRegular/LatoRegular.eot");
  src: url("../fonts/LatoRegular/LatoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoRegular/LatoRegular.woff") format("woff"), url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "LatoBold"; */
@font-face {
  font-family: "LatoBold";
  src: url("../fonts/LatoBold/LatoBold.eot");
  src: url("../fonts/LatoBold/LatoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoBold/LatoBold.woff") format("woff"), url("../fonts/LatoBold/LatoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "LatoItalic"; */
@font-face {
  font-family: "LatoItalic";
  src: url("../fonts/LatoItalic/LatoItalic.eot");
  src: url("../fonts/LatoItalic/LatoItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoItalic/LatoItalic.woff") format("woff"), url("../fonts/LatoItalic/LatoItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "LatoLight"; */
@font-face {
  font-family: "LatoLight";
  src: url("../fonts/LatoLight/LatoLight.eot");
  src: url("../fonts/LatoLight/LatoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLight/LatoLight.woff") format("woff"), url("../fonts/LatoLight/LatoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "LatoBoldItalic"; */
@font-face {
  font-family: "LatoBoldItalic";
  src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot");
  src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoBoldItalic/LatoBoldItalic.woff") format("woff"), url("../fonts/LatoBoldItalic/LatoBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "LatoLightItalic"; */
@font-face {
  font-family: "LatoLightItalic";
  src: url("../fonts/LatoLightItalic/LatoLightItalic.eot");
  src: url("../fonts/LatoLightItalic/LatoLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLightItalic/LatoLightItalic.woff") format("woff"), url("../fonts/LatoLightItalic/LatoLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
* {
  margin: 0;
  padding: 0; }

:active, :hover, :focus {
  outline: none !important;
  outline-offset: 0 !important; }

.form-control::-webkit-input-placeholder {
  color: #333; }

.form-control::-moz-placeholder {
  color: #333; }

/* Firefox 19+ */
.form-control:-moz-placeholder {
  color: #333; }

/* Firefox 18- */
.form-control:-ms-input-placeholder {
  color: #333; }

body {
  font-family: 'LatoRegular'; }

hr {
  margin: 0; }
.no-padding{
  padding: 0!important;
}
img {
  max-width: 100%; }

.ng-invalid-required {
  border-color: darkred; }

.btn {
  border-radius: 2px; }

.btn-yellow {
  background-color: #ffca13;
  border: none;
  font-size: 16px;
  font-family: 'LatoLight';
  font-weight: 700;
  color: #333;
  transition: 0.5s; }
  .btn-yellow:hover, .btn-yellow:visited, .btn-yellow:focus {
    color: #333;
    background-color: #ffca13;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .btn-yellow:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.btn-black {
  background-color: #333333;
  border: none;
  font-size: 16px;
  font-family: 'LatoLight';
  font-weight: 700;
  color: #ffffff;
  transition: 0.5s; }
  .btn-black:hover, .btn-black:visited, .btn-black:focus {
    color: #ffffff;
    background-color: #333333;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .btn-black:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 2px; }
  .form-control:focus {
    border-color: #ccc;
    box-shadow: none; }

[data-toggle] {
  cursor: pointer; }

.modal {
  text-align: center;
  padding: 0 !important; }

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; }

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle; }

.fade {
  opacity: 1;
  transition: 0.3s linear all; }

.fade.ng-enter {
  transition: 0.3s linear all;
  opacity: 0; }

.fade.ng-enter.ng-enter-active {
  opacity: 0; }

.fade.ng-leave {
  opacity: 1; }

.fade.ng-leave.ng-leave-active {
  opacity: 0; }

.slide.ng-enter {
  transition: 0.5s linear all;
  transform: translateX(100%); }

.slide.ng-enter.ng-enter-active {
  transform: translateX(0%); }

.slide.ng-leave {
  transition: 0.5s linear all;
  transform: translateX(0%); }

.slide.ng-leave.ng-leave-active {
  transform: translateX(100%); }

.slide-left.ng-enter,
.slide-left.ng-leave {
  transition: 1s; }

.slide-left.ng-enter {
  right: -100%; }

.slide-left.ng-enter.ng-enter-active {
  right: 0; }

.slide-left.ng-leave {
  left: 0; }

.slide-left.ng-leave.ng-leave-active {
  left: -100%; }

.banner {
  width: 100%;
  height: 80px;
  background: url("../img/banner.jpg") center center;
  -webkit-background-size: cover;
  background-size: cover; }

.nav-bar {
  display: flex; }
  .nav-bar .top-menu {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    flex: auto;
    width: 100%;
    align-items: center;
    background-color: #333;
    color: #ffffff; }
    .nav-bar .top-menu a {
      color: #ffffff; }
  .nav-bar .menu a {
    border: 1.2px solid transparent;
    border-radius: 4px;
    padding: 7px;
    display: inline-block; }
    .nav-bar .menu a:hover {
      border-color: #ffca13;
      text-decoration: none; }
  .nav-bar .menu .active {
    border-color: #ffca13; }
  .nav-bar .search-box {
    height: 35px;
    background: #d9d6d6;
    padding: 3px 20px 3px 20px;
    display: flex; }
    .nav-bar .search-box .form {
      width: 100%;
      position: relative; }
      .nav-bar .search-box .form input {
        background-color: #fff;
        color: #333;
        padding-left: 10px;
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 2px; }
      .nav-bar .search-box .form .search-button {
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 2px;
        background: #ffca13;
        border: none;
        padding: 1px 5px 1px 5px;
        border-radius: 2px; }
    .nav-bar .search-box .searched-box {
      width: 100%;
      max-height: 300px;
      position: absolute;
      z-index: 2;
      overflow-x: hidden;
      overflow-y: auto;
      background: #fff;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      box-shadow: 2px 4px 4px 0px #2f2f2f;
      padding: 10px; }

.home {
  padding-top: 120px;
  padding-bottom: 100px;
  background: url("../img/home.jpg") center center;
  -webkit-background-size: cover;
  background-size: cover; }
  .home h1 {
    color: #ffffff;
    font-size: 36px;
    font-family: 'LatoBold'; }
  .home h2 {
    color: #ffffff;
    line-height: 1.3;
    font-size: 14px;
    font-family: 'LatoRegular'; }

.advantages {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f5f5f5; }
  .advantages img {
    margin-top: 20px; }
  .advantages h3 {
    font-size: 16px;
    font-family: 'LatoBold';
    margin-bottom: 5px; }
  .advantages p {
    color: #666666;
    font-family: 'LatoRegular';
    font-weight: 700; }

.how-work {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffca13; }
  .how-work h3 {
    font-size: 32px;
    font-weight: 900;
    font-family: LatoLight; }
  .how-work span {
    color: #333;
    font-size: 72px;
    margin-top: 20px;
    margin-bottom: 10px; }
  .how-work h4 {
    font-size: 16px;
    font-family: 'LatoRegular';
    color: #333; }

.diagnostics-home {
  padding-top: 120px;
  padding-bottom: 100px;
  background: url("../img/diagnostic.jpg") center center;
  -webkit-background-size: cover;
  background-size: cover; }
  .diagnostics-home h3 {
    font-size: 32px;
    font-family: 'LatoLight';
    font-weight: 700; }
  .diagnostics-home .btn {
    margin-top: 20px; }

.help-home {
  background-color: #333333;
  padding-top: 30px;
  padding-bottom: 30px; }
  .help-home h3 {
    font-size: 32px;
    color: #ffffff; }
  .help-home p {
    font-size: 14px;
    color: #ffffff;
    font-family: 'LatoRegular'; }
  .help-home .btn {
    margin-top: 20px;
    font-family: 'LatoRegular'; }

.advantages-more {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f5f5f5; }
  .advantages-more span {
    margin-top: 30px;
    color: #9E9E9E;
    font-size: 48px; }
  .advantages-more h3 {
    font-size: 14px;
    color: #333;
    font-family: 'LatoRegular';
    font-weight: 700; }

.search-home {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #333333; }

.search-catalog {
  background: #333333;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 10px;
  border-radius: 2px;
  margin-bottom: 10px; }

.search-title {
  color: #fff;
  font-size: 24px; }

@media screen and (min-width: 700px) {
  .search {
    display: flex;
    align-items: flex-end; } }
.search .dropdown-menu {
  padding-top: 0;
  padding-bottom: 0; }
.search .dropdown-menu > .active > a, .search .dropdown-menu > .active > a:focus, .search .dropdown-menu > .active > a:hover {
  background-color: #333333; }
.search [uib-typeahead-popup].dropdown-menu {
  width: 100%; }
.search .name-filed {
  font-family: 'LatoBold';
  color: #fff;
  padding: 5px 10px;
  margin-bottom: 5px; }
.search .nav-tabs {
  border: none; }
.search .tab-content {
  position: relative; }
.search .nav-tabs > li {
  padding: 0;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0; }
.search .nav-tabs li a {
  padding: 5px 10px;
  border-radius: 2px;
  color: #ffffff; }
  .search .nav-tabs li a:hover {
    border: 1px solid #ffca13;
    background-color: transparent; }
.search .nav-tabs > li.active > a,
.search .nav-tabs > li.active > a:focus,
.search .nav-tabs > li.active > a:hover {
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  font-family: 'LatoBold';
  cursor: default;
  background-color: transparent;
  border: 1px solid #ffca13; }
.search .form-group {
  margin-bottom: 0; }
.search input {
  font-family: 'LatoBold';
  color: #333000; }
.search .btn-yellow {
  font-family: 'LatoRegular'; }
.search .reset-input {
  cursor: pointer;
  position: absolute;
  right: 5px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 1;
  top: 50%;
  transform: translateY(-39%); }

.result {
  background-color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0px 1px 2px #424242;
  height: 150px;
  position: absolute;
  width: 100%;
  z-index: 5;
  padding: 5px;
  overflow-y: auto; }

.result-item {
  width: 100%;
  cursor: pointer; }
  .result-item:hover {
    text-decoration: underline; }

.filters {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px; }
  @media screen and (min-width: 700px) {
    .filters .dropdown {
      display: inline-block; }
      .filters .dropdown:not(:first-child) {
        margin-left: 10px; } }
  .filters .filter-panel {
    color: #fff;
    cursor: pointer; }
  .filters .dropdown-menu {
    padding: 0;
    min-width: 345px; }
    .filters .dropdown-menu .datapicker {
      padding: 10px; }
    .filters .dropdown-menu .price {
      width: 90px; }
    .filters .dropdown-menu .btn-black {
      padding: 0;
      height: 32px;
      width: 50%;
      margin-top: 5px;
      float: left;
      border-radius: 0 0 0 3px; }
    .filters .dropdown-menu .btn-yellow {
      padding: 0;
      height: 32px;
      width: 50%;
      margin-top: 5px;
      border-radius: 0 0 3px 0; }

.chips {
  margin-right: 5px;
  font-size: 14px;
  padding: 4px;
  padding-top: 1px;
  margin-top: 5px;
  padding-bottom: 1px;
  margin-left: 5px; }

.sort {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  font-family: 'LatoLight';
  font-weight: 700;
  color: #333333; }
  .sort .sort-by {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer; }
    @media screen and (max-width: 700px) {
      .sort .sort-by {
        display: block; } }
    .sort .sort-by:hover {
      color: #333000; }
  .sort .active {
    color: #333000; }

.not-result {
  color: #cccccc;
  font-size: 42px;
  margin-top: 50px;
  margin-bottom: 200px; }

.catalog-item {
  display: flex;
  margin-left: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border: 1px solid #e2e2e2;
  position: relative;
  transition: 0.5s; }
  .catalog-item .logo-cs {
    margin-bottom: 10px; }
  .catalog-item .info-sc {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #666; }
    .catalog-item .info-sc span.text {
      color: #333; }
  .catalog-item .star.star-on {
    color: #ffca13; }
  .catalog-item .star {
    cursor: default; }
  .catalog-item .title-sc {
    font-size: 24px;
    font-family: 'LatoBold';
    margin-bottom: 10px;
    line-height: 0.9;
    color: #333000; }
  .catalog-item .btn {
    margin-top: 10px; }
    @media screen and (max-width: 700px) {
      .catalog-item .btn {
        width: 100%; } }
  .catalog-item .tag {
    background-color: #ffca13;
    color: #333333;
    border-radius: 2px;
    padding: 1px 3px;
    white-space: nowrap;
    margin-right: 4px;
    margin-top: 0px;
    margin-bottom: 2px; }
  .catalog-item .photos {
    margin-top: 40px; }
    .catalog-item .photos img {
      margin-top: 10px;
      margin-bottom: 10px;
      cursor: pointer; }
  .catalog-item .count {
    font-size: 28px; }
  .catalog-item .rating {
    background-color: #fec16e;
    color: #ff8f00;
    line-height: 1.1;
    position: absolute;
    width: 16.66666667%;
    right: 0;
    bottom: 50%;
    top: 0;
    padding-top: 35px;
    text-align: center; }
  .catalog-item .comments {
    background-color: #e4eeff;
    color: #7c9dd8;
    line-height: 1.1;
    position: absolute;
    width: 16.66666667%;
    right: 0;
    bottom: 0;
    top: 50%;
    padding-top: 35px;
    text-align: center; }
  .catalog-item .rating-end-comments-xs {
    margin-top: 10px;
    text-align: center; }
    .catalog-item .rating-end-comments-xs .rating-xs {
      padding: 5px;
      width: 50%;
      float: left;
      background-color: #fec16e;
      color: #ff8f00; }
    .catalog-item .rating-end-comments-xs .comments-xs {
      padding: 5px;
      float: left;
      width: 50%;
      background-color: #e4eeff;
      color: #7c9dd8; }

.need-help-catalog {
  background-color: #ffca13;
  padding-top: 20px;
  margin-left: 0;
  padding-bottom: 20px;
  border-radius: 2px;
  color: #333333; }
  .need-help-catalog h3 {
    font-size: 24px;
    margin-top: 0; }
  .need-help-catalog .btn {
    margin-top: 20px; }

.catalog-map {}
  @media screen and (max-width: 700px) {
    .catalog-map {
      display: none; } }
  .catalog-map ng-map {
    height: 100vh; }
  .catalog-map .gm-style-iw .btn {
    margin-bottom: 10px; }

.page-sc {
  padding-top: 10px;
  color: #333; }
  .page-sc h1 {
    color: #2e2e2e; }
  .page-sc hr {
    margin-top: 20px;
    margin-bottom: 20px; }
  .page-sc h3 {
    font-family: 'LatoBold';
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    color: #2e2e2e; }
  .page-sc ul {
    margin-left: 15px; }
  .page-sc p {
    font-size: 14px; }
  .page-sc .header-info {
    margin-bottom: 10px; }
  .page-sc .info-sc {
    margin-top: 2px; }
    .page-sc .info-sc .text {
      font-family: 'LatoLight';
      font-weight: 700;
      color: #333333; }
    .page-sc .info-sc span {
      color: #333333; }
  .page-sc .btn-call {
    margin-top: 20px;
    margin-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px; }
  .page-sc .callback {
    display: flex;
    align-items: center; }
  .page-sc .count-clients {
    display: flex;
    align-items: center;
    color: #808080; }
    .page-sc .count-clients img, .page-sc .count-clients div {
      display: inline-block;
      line-height: 1;
      margin-left: 5px; }
    .page-sc .count-clients img {
      margin-left: -10px;
      margin-right: 5px; }
    .page-sc .count-clients .count {
      font-size: 32px; }
  .page-sc .rating {
    line-height: 1;
    font-family: 'LatoLight';
    font-weight: 700;
    color: #808080; }
    .page-sc .rating .count {
      color: #ff8f00;
      font-size: 40px; }
  .page-sc .comments {
    line-height: 1;
    font-family: 'LatoLight';
    font-weight: 700;
    color: #808080; }
    .page-sc .comments .count {
      font-size: 40px; }
  .page-sc .tag {
    background-color: #03b55b;
    color: #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 3px 7px;
    margin-top: 3px;
    margin-bottom: 3px;
    display: inline-block; }
    .page-sc .tag:not(:first-child) {
      margin-left: 3px; }
  .page-sc .photos .photo-item {
    margin-left: 5px;
    max-width: initial;
    margin-top: 10px;
    cursor: pointer;
    vertical-align: top; }
  .page-sc .photos .panorama {
    margin-top: 10px;
    position: relative;
    cursor: pointer; }
    .page-sc .photos .panorama .panorama-item {
      width: 100%; }
    .page-sc .photos .panorama .icon-panorama {
      color: #ffffff;
      position: absolute;
      left: 50%;
      top: 50%;
      font-size: 40px;
      width: 40px;
      height: 40px;
      transform: translate(-50%, -50%); }
  .page-sc .certificate .certificate-item {
    cursor: pointer;
    margin-top: 10px; }
  .page-sc .personal-sc .slick-item {
    cursor: pointer; }
    .page-sc .personal-sc .slick-item h4 {
      font-size: 14px;
      color: #404040; }
    .page-sc .personal-sc .slick-item p {
      font-size: 12px;
      padding-right: 50px;
      margin: 0; }

.comments-section .comments-header {
  background-color: #fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border: 1px solid #e2e2e2;
  padding-top: 20px;
  padding-bottom: 20px; }
  .comments-section .comments-header .total-comments {
    font-size: 16px;
    color: #ff8f00; }
  .comments-section .comments-header rating {
    margin-top: 10px; }
  .comments-section .comments-header .text-rating {
    font-size: 14px;
    color: #666666;
    font-family: 'LatoRegular';
    font-weight: 700; }
  .comments-section .comments-header .count-rating .count {
    font-size: 16px;
    color: #ff8f00; }
  .comments-section .comments-header .count-rating span {
    color: #eeeeee; }
  .comments-section .comments-header .total-count .count {
    font-size: 30px;
    color: #ff8f00; }
  .comments-section .comments-header .total-count span {
    color: #eeeeee; }
  .comments-section .comments-header .star.star-on {
    color: #ff8f00; }
  .comments-section .comments-header .star {
    cursor: default; }

.modal .comment-item {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  background-color: #fff;
  box-shadow: none;
  display: flex;
  align-items: stretch;
  border: none; }
  .modal .comment-item .add-comment-text {
    width: 100%;
    height: 100%;
    border: none; }
  .modal .comment-item .input {
    width: 100%;
    border: none;
    border-bottom: 1px solid; }
  .modal .comment-item .input.ng-invalid.ng-touched {
    border-bottom: 1px solid red; }
  .modal .comment-item .input.ng-valid.ng-touched {
    border-color: #333; }
  .modal .comment-item .input-error {
    border-bottom: 1px solid red; }
  .modal .comment-item .star {
    font-size: 14px !important;
    cursor: pointer !important; }
  .modal .comment-item .star.star-high {
    color: #ff8f00; }

.comment-item {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  background-color: #fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border: 1px solid #e2e2e2; }
  .comment-item .rating {
    font-size: 50px;
    color: #ff8f00;
    font-family: 'LatoLight';
    margin-bottom: 15px; }
    .comment-item .rating span {
      font-size: 35px; }
  .comment-item .device-name,
  .comment-item .service-name {
    margin-bottom: 10px;
    color: #666666; }
    .comment-item .device-name span,
    .comment-item .service-name span {
      color: #333; }
  .comment-item .social {
    display: flex; }
  .comment-item .ya-share2 {
    display: inline-block; }
  .comment-item .ya-share2__list_direction_horizontal > .ya-share2__item {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0.8; }
    .comment-item .ya-share2__list_direction_horizontal > .ya-share2__item:hover {
      opacity: 1; }
  .comment-item .info-comment {
    color: #cccccc; }
  .comment-item .avatar {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-right: 10px; }
  .comment-item .name {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 5px;
    font-family: 'LatoLight'; }
  .comment-item .date {
    font-size: 14px;
    font-family: 'LatoLight'; }
  .comment-item .rating-details div {
    clear: both; }
  .comment-item .rating-details span {
    display: inline-block; }
  .comment-item .rating-details rating {
    display: inline-block;
    float: right; }
  .comment-item .rating-details .star.star-on {
    color: #ff8f00; }
  .comment-item .rating-details .star {
    cursor: default;
    font-size: 10px; }

.diagnostics {
  margin-top: 30px;
  margin-bottom: 100px; }
  .diagnostics .phone-img {
    width: 150px; }
  .diagnostics .tablet-img {
    width: 200px; }
  .diagnostics .laptop-img {
    width: 320px; }
  .diagnostics .select-type.active {
    background: #ffca13;
    padding: 20px;
    border-radius: 5px; }
  .diagnostics .select-type {
    cursor: pointer; }
    .diagnostics .select-type img {
      margin-bottom: 10px; }
    .diagnostics .select-type span {
      transition: 0.5s;
      padding: 5px;
      border-radius: 5px;
      font-size: 16px;
      font-family: 'LatoLight';
      font-weight: 700; }
    .diagnostics .select-type span.active {
      background: #ffca13; }
    .diagnostics .select-type:hover span:not(.active) {
      background: #cecece; }
  .diagnostics .check {
    transition: 0.5s;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer; }
  .diagnostics .check.active {
    background: #ffca13; }
  .diagnostics .check:hover:not(.active) {
    background: #cecece; }
  .diagnostics .tab-head {
    white-space: nowrap; }
  .diagnostics .circle-index {
    font-size: 24px;
    background: #666;
    color: #fff;
    padding: 10px 15px;
    border-radius: 50%; }
  .diagnostics .nav-item.disabled a {
    cursor: default !important; }
  .diagnostics .nav-tabs.nav-justified > li > a {
    border: none; }
  .diagnostics .nav-tabs.nav-justified {
    border-bottom: 1px solid; }
  .diagnostics .nav-tabs.nav-justified > .active > a,
  .diagnostics .nav-tabs.nav-justified > .active > a:focus,
  .diagnostics .nav-tabs.nav-justified > .active > a:hover {
    border: none; }
    .diagnostics .nav-tabs.nav-justified > .active > a .circle-index,
    .diagnostics .nav-tabs.nav-justified > .active > a:focus .circle-index,
    .diagnostics .nav-tabs.nav-justified > .active > a:hover .circle-index {
      background: #333; }
  .diagnostics .diagnostics-footer {
    margin-top: 20px;
    position: absolute;
    width: 100%;
    bottom: 0; }

.checkbox {
  background: #fff;
  box-shadow: 0px 0px 3px 1px #505050;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  float: left;
  vertical-align: top;
  margin: 0;
  margin-right: 10px; }

.checkbox.active {
  background: #f9c512;
  position: relative; }
  .checkbox.active:after {
    content: '✔';
    font-size: 20px;
    position: absolute;
    bottom: -7px; }

.checkbox:hover:not(.active) {
  background: #f9c512; }

.photo-show {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none; }

.modal .modal-footer {
  border-color: #fff;
  padding: 0; }
  .modal .modal-footer .btn-black {
    float: left;
    width: 50%;
    margin: 0;
    display: inline-block;
    border-radius: 0 0 0 3px; }
  .modal .modal-footer .btn-yellow {
    float: right;
    width: 50%;
    display: inline-block;
    margin-left: 0;
    border-radius: 0 0 3px 0; }

.boot-registration__columns {
  display: table;
  table-layout: fixed;
  direction: rtl;
}

.boot-registration__column {
  display: table-cell;
  vertical-align: top;
  direction: ltr;
}
.form-sign-in {
  margin-top: 150px;
  margin-bottom: 210px;
  border: 1px solid #9c9c9c;
  box-shadow: 0px 3px 10px #6d6d6d; }
  .form-sign-in input, .form-sign-in label {
    width: 100%; }
  .form-sign-in .btn {
    margin-top: 10px; }

.login-box-sc {
  padding: 50px;
}
.login-form-sc {
  border-left: 1px solid #9c9c9c;
  background: #fdf9ea;
}
.form-separator {
  position: relative;
  margin: 20px 0;
  text-align: center;
}
.form-separator-text {
  position: relative;
  z-index: 1;
  display: inline-block;
  max-width: 60%;
  padding: 0 20px;
  line-height: normal;
  background: #ffffff;
  color: #464646;
}
.form-separator:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border-top: 1px solid #cdd0c5;
}

.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  position: relative;
  background-color: #333333;
  z-index: 3;
  line-height: 1; }
  .footer .logo-footer {
    padding: 3px;
    background: #ffca13;
    width: 50px; }
  .footer .phone, .footer .mail, .footer .time {
    color: #fff; }
  .footer ul li {
    list-style: none; }
    .footer ul li a {
      line-height: 1.5;
      color: #cccccc; }

.error-input {
  border: 2px solid #F44336; }

.dropdown-limit .dropdown-menu {
  max-height: 300px;
  overflow: auto; }

.angular-multi-slider div.handle {
  background-color: #ffca13 !important;
  filter: none !important; }

.badge-catalog {
  background: #ffc90a;
  width: inherit;
  user-select: none;
  float: right;
  display: inline-block;
  margin-left: 6px;
  border-radius: 4px;
  padding: 2px 0px 0px 0px;
  text-align: center; }

/*# sourceMappingURL=app.css.map */
.logo-box {
  background-color: #ffca13;
}
.logo-box img {
  max-width: 100px;
}