/* font-family: "LatoRegular"; */
@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/LatoRegular/LatoRegular.eot");
  src: url("../fonts/LatoRegular/LatoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoRegular/LatoRegular.woff") format("woff"), url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "LatoBold"; */
@font-face {
  font-family: "LatoBold";
  src: url("../fonts/LatoBold/LatoBold.eot");
  src: url("../fonts/LatoBold/LatoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoBold/LatoBold.woff") format("woff"), url("../fonts/LatoBold/LatoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "LatoItalic"; */
@font-face {
  font-family: "LatoItalic";
  src: url("../fonts/LatoItalic/LatoItalic.eot");
  src: url("../fonts/LatoItalic/LatoItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoItalic/LatoItalic.woff") format("woff"), url("../fonts/LatoItalic/LatoItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "LatoLight"; */
@font-face {
  font-family: "LatoLight";
  src: url("../fonts/LatoLight/LatoLight.eot");
  src: url("../fonts/LatoLight/LatoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLight/LatoLight.woff") format("woff"), url("../fonts/LatoLight/LatoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "LatoBoldItalic"; */
@font-face {
  font-family: "LatoBoldItalic";
  src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot");
  src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoBoldItalic/LatoBoldItalic.woff") format("woff"), url("../fonts/LatoBoldItalic/LatoBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "LatoLightItalic"; */
@font-face {
  font-family: "LatoLightItalic";
  src: url("../fonts/LatoLightItalic/LatoLightItalic.eot");
  src: url("../fonts/LatoLightItalic/LatoLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLightItalic/LatoLightItalic.woff") format("woff"), url("../fonts/LatoLightItalic/LatoLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
* {
  margin: 0;
  padding: 0; }

:active, :hover, :focus {
  outline: none !important;
  outline-offset: 0 !important; }

.form-control::-webkit-input-placeholder {
  color: #000; }

.form-control::-moz-placeholder {
  color: #000; }

/* Firefox 19+ */
.form-control:-moz-placeholder {
  color: #000; }

/* Firefox 18- */
.form-control:-ms-input-placeholder {
  color: #000; }

body {
  font-family: 'LatoRegular'; }

hr {
  margin: 0; }

img {
  max-width: 100%; }

.ng-invalid-required {
  border-color: darkred; }

.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 2px;
  padding: 10px 20px; }

.btn-danger {
  box-shadow: 0px 2px 0px #a94442;
  border: none;
  font-size: 16px;
  font-family: 'LatoLight';
  font-weight: 700; }
  .btn-danger:active {
    transform: translateY(2px); }

.btn-warning {
  background-color: #ff8f00;
  border: none;
  box-shadow: 0px 2px 0px #d07604;
  font-size: 16px;
  font-family: 'LatoLight';
  font-weight: 700; }
  .btn-warning:active {
    transform: translateY(2px); }

.form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 2px; }
  .form-control:focus {
    border-color: #ccc;
    box-shadow: none; }

[data-toggle] {
  cursor: pointer; }

.fade.ng-enter {
  transition: 0.5s linear all;
  opacity: 0; }

.fade.ng-enter.ng-enter-active {
  opacity: 1; }

.fade.ng-leave {
  transition: 0.5s linear all;
  opacity: 1; }

.fade.ng-leave.ng-leave-active {
  opacity: 0; }

.slide.ng-enter {
  transition: 0.5s linear all;
  transform: translateX(100%); }

.slide.ng-enter.ng-enter-active {
  transform: translateX(0%); }

.slide.ng-leave {
  transition: 0.5s linear all;
  transform: translateX(0%); }

.slide.ng-leave.ng-leave-active {
  transform: translateX(100%); }

.slide-left.ng-enter,
.slide-left.ng-leave {
  transition: 1s; }

.slide-left.ng-enter {
  right: -100%; }

.slide-left.ng-enter.ng-enter-active {
  right: 0; }

.slide-left.ng-leave {
  left: 0; }

.slide-left.ng-leave.ng-leave-active {
  left: -100%; }

.banner {
  width: 100%;
  height: 80px;
  background: url("../img/banner.jpg") center center;
  -webkit-background-size: cover;
  background-size: cover; }

.top-bar {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #afc5eb;
  display: flex;
  align-items: center; }
  .top-bar .phone {
    font-size: 32px;
    font-family: 'LatoLight';
    display: inline-block;
    margin-right: 10px; }
  .top-bar .sub-phone {
    font-size: 14px;
    line-height: 1;
    display: inline-block; }
  .top-bar .sign-in, .top-bar .registration {
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer; }
    .top-bar .sign-in:hover, .top-bar .registration:hover {
      color: #000000;
      text-decoration: underline; }

.nav-bar {
  padding-top: 5px;
  padding-bottom: 5px; }
  .nav-bar ul {
    margin: 0; }
    .nav-bar ul li {
      display: inline-block;
      list-style: none;
      margin-top: 10px; }
      .nav-bar ul li:not(:first-child) {
        margin-left: 20px; }
      .nav-bar ul li a {
        color: #afc5eb;
        font-size: 15px; }
        .nav-bar ul li a:hover {
          color: #000000; }
  .nav-bar .top-search {
    width: 100%;
    height: 40px;
    margin-top: 5px;
    overflow: hidden;
    position: relative; }
    .nav-bar .top-search .btn {
      position: absolute;
      right: 0;
      padding: 0;
      width: 40px;
      top: 50%;
      height: 40px;
      transform: translateY(-50%); }
    .nav-bar .top-search input {
      height: 40px;
      padding-right: 45px; }

.home {
  padding-top: 120px;
  padding-bottom: 100px;
  background: url("../img/home.jpg") center center;
  -webkit-background-size: cover;
  background-size: cover; }
  .home h1 {
    color: #ffffff;
    font-size: 36px;
    font-family: 'LatoBold'; }
  .home h2 {
    color: #ffffff;
    line-height: 1.3;
    font-size: 14px;
    font-family: 'LatoRegular'; }
  .home .btn-warning {
    margin-top: 30px;
    font-size: 24px;
    padding: 10px 30px; }

.advantages {
  padding-top: 30px;
  padding-bottom: 30px; }
  .advantages img {
    margin-top: 20px; }
  .advantages h3 {
    color: #ff8f00;
    font-size: 16px;
    font-family: 'LatoBold';
    margin-bottom: 5px; }
  .advantages p {
    color: #666666;
    font-family: 'LatoRegular';
    font-weight: 700; }

.how-work {
  padding-top: 30px;
  padding-bottom: 30px; }
  .how-work h3 {
    color: #666666;
    font-size: 24px;
    font-family: LatoLight; }
  .how-work span {
    color: #7d9dd8;
    font-size: 72px;
    margin-top: 20px;
    margin-bottom: 10px; }
  .how-work h4 {
    font-size: 14px;
    font-family: 'LatoRegular';
    color: #666666;
    font-weight: 700; }

.diagnostics-home {
  padding-top: 120px;
  padding-bottom: 100px;
  background: url("../img/diagnostic.jpg") center center;
  -webkit-background-size: cover;
  background-size: cover; }
  .diagnostics-home h3 {
    font-size: 32px;
    font-family: 'LatoLight';
    font-weight: 700; }
  .diagnostics-home .btn {
    margin-top: 20px; }

.help-home {
  background-color: #7c9dd8;
  padding-top: 30px;
  padding-bottom: 30px; }
  .help-home h3 {
    font-size: 32px;
    color: #ffffff; }
  .help-home p {
    font-size: 14px;
    color: #ffffff;
    font-family: 'LatoRegular'; }
  .help-home .btn {
    margin-top: 20px;
    font-family: 'LatoRegular'; }

.advantages-more {
  padding-top: 30px;
  padding-bottom: 30px; }
  .advantages-more span {
    margin-top: 30px;
    color: #ff8f00;
    font-size: 72px; }
  .advantages-more h3 {
    font-size: 14px;
    color: #666666;
    font-family: 'LatoRegular';
    font-weight: 700; }

.search-home {
  background: url("../img/search-home.jpg") center center;
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px; }

.search-catalog {
  background-color: #e4eeff;
  padding-top: 30px;
  padding-bottom: 30px; }

.search-title {
  color: #5774a6;
  font-size: 24px; }

@media screen and (min-width: 700px) {
  .search {
    display: flex;
    align-items: flex-end; } }
.search .dropdown-menu > .active > a, .search .dropdown-menu > .active > a:focus, .search .dropdown-menu > .active > a:hover {
  background-color: #ff8f00; }
.search [uib-typeahead-popup].dropdown-menu {
  width: 100%; }
.search .name-filed {
  font-family: 'LatoBold';
  color: #5774a6;
  padding: 5px 10px;
  margin-bottom: 5px; }
.search .nav-tabs {
  border: none; }
.search .tab-content {
  position: relative; }
.search .nav-tabs > li {
  padding: 0;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0; }
.search .nav-tabs li a {
  padding: 5px 10px;
  border-radius: 2px; }
  .search .nav-tabs li a:hover {
    border: 1px solid #5774a6;
    background-color: transparent; }
.search .nav-tabs > li.active > a,
.search .nav-tabs > li.active > a:focus,
.search .nav-tabs > li.active > a:hover {
  color: #5774a6;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  font-family: 'LatoBold';
  cursor: default;
  background-color: transparent;
  border: 1px solid #5774a6; }
.search .form-group {
  margin-bottom: 0; }
.search input {
  font-size: 16px;
  font-family: 'LatoBold';
  color: #000000;
  height: 40px; }
.search .btn {
  width: 100%;
  height: 38px;
  margin-bottom: 2px;
  padding: 0; }
  @media screen and (max-width: 700px) {
    .search .btn {
      margin-top: 10px; } }
.search .reset-input {
  cursor: pointer;
  position: absolute;
  right: 5px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 1;
  top: 50%;
  transform: translateY(-39%); }

.result {
  background-color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0px 1px 2px #424242;
  height: 150px;
  position: absolute;
  width: 100%;
  z-index: 5;
  padding: 5px;
  overflow-y: auto; }

.result-item {
  width: 100%;
  cursor: pointer; }
  .result-item:hover {
    text-decoration: underline; }

.filters {
  margin-top: 20px; }
  @media screen and (min-width: 700px) {
    .filters .dropdown {
      display: inline-block; }
      .filters .dropdown:not(:first-child) {
        margin-left: 10px; } }
  .filters .filter-panel {
    color: #afc5eb;
    cursor: pointer; }
  .filters .dropdown-menu {
    padding: 0;
    min-width: 250px; }
    .filters .dropdown-menu .datapicker {
      padding: 5px; }
    .filters .dropdown-menu .price {
      width: 90px; }
    .filters .dropdown-menu .btn-danger {
      padding: 0;
      height: 32px;
      width: 50%;
      margin-top: 5px;
      float: left;
      border-radius: 0 0 0 3px; }
    .filters .dropdown-menu .btn-warning {
      padding: 0;
      height: 32px;
      width: 50%;
      margin-top: 5px;
      border-radius: 0 0 3px 0; }

.sort {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  font-family: 'LatoLight';
  font-weight: 700;
  color: #cccccc; }
  .sort .sort-by {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer; }
    @media screen and (max-width: 700px) {
      .sort .sort-by {
        display: block; } }
    .sort .sort-by:hover {
      color: #000000; }
  .sort .active {
    color: #000000; }

.not-result {
  color: #cccccc;
  font-size: 42px;
  margin-top: 50px;
  margin-bottom: 200px; }

.catalog-item {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border: 1px solid #e2e2e2;
  position: relative; }
  .catalog-item .logo-cs {
    margin-bottom: 10px; }
  .catalog-item .info-sc {
    color: #959595; }
    .catalog-item .info-sc span.text {
      color: #666; }
  .catalog-item .title-sc {
    font-size: 24px;
    font-family: 'LatoBold';
    margin-bottom: 10px;
    line-height: 0.9; }
    .catalog-item .title-sc a {
      color: #000000; }
  .catalog-item .btn {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px; }
    @media screen and (max-width: 700px) {
      .catalog-item .btn {
        width: 100%; } }
  .catalog-item .priory {
    color: #ff8f00;
    font-family: 'LatoBold'; }
    .catalog-item .priory span {
      color: #959595; }
  .catalog-item .tag {
    background-color: #03cc6a;
    color: #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 3px 5px;
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    display: inline-block; }
  .catalog-item .photos {
    margin-top: 40px; }
    .catalog-item .photos img {
      margin-top: 10px;
      margin-bottom: 10px;
      cursor: pointer; }
  .catalog-item .count {
    font-size: 28px; }
  .catalog-item .rating {
    background-color: #fec16e;
    color: #ff8f00;
    line-height: 1.1;
    position: absolute;
    width: 16.66666667%;
    right: 0;
    bottom: 50%;
    top: 0;
    padding-top: 35px;
    text-align: center; }
  .catalog-item .comments {
    background-color: #e4eeff;
    color: #7c9dd8;
    line-height: 1.1;
    position: absolute;
    width: 16.66666667%;
    right: 0;
    bottom: 0;
    top: 50%;
    padding-top: 35px;
    text-align: center; }
  .catalog-item .rating-end-comments-xs {
    margin-top: 10px;
    text-align: center; }
    .catalog-item .rating-end-comments-xs .rating-xs {
      padding: 5px;
      width: 50%;
      float: left;
      background-color: #fec16e;
      color: #ff8f00; }
    .catalog-item .rating-end-comments-xs .comments-xs {
      padding: 5px;
      float: left;
      width: 50%;
      background-color: #e4eeff;
      color: #7c9dd8; }

.need-help-catalog {
  background-color: #7c9dd8;
  padding-top: 50px;
  margin-left: 0;
  padding-bottom: 50px;
  color: #ffffff; }
  .need-help-catalog h3 {
    color: #ffffff;
    font-size: 24px;
    margin-top: 0; }
  .need-help-catalog p {
    color: #ffffff; }
  .need-help-catalog .btn {
    margin-top: 20px; }

.catalog-map {
  position: relative;
  padding-right: 0; }
  @media screen and (max-width: 700px) {
    .catalog-map {
      display: none; } }
  .catalog-map ng-map {
    height: 100vh; }
  .catalog-map .affix {
    top: 0;
    width: 100%; }
  .catalog-map .fix_map {
    position: relative !important; }
  .catalog-map .affix-top {
    top: 0; }
  .catalog-map .affix-bottom {
    bottom: 0; }
  .catalog-map .gm-style-iw .btn {
    margin-bottom: 10px; }

.page-sc {
  padding-top: 10px;
  color: #666666; }
  .page-sc h1 {
    color: #2e2e2e; }
  .page-sc hr {
    margin-top: 20px;
    margin-bottom: 20px; }
  .page-sc h3 {
    font-family: 'LatoBold';
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    color: #2e2e2e; }
  .page-sc ul {
    margin-left: 15px; }
  .page-sc p {
    font-size: 14px; }
  .page-sc .header-info {
    margin-bottom: 10px; }
  .page-sc .info-sc {
    margin-top: 2px; }
    .page-sc .info-sc .text {
      font-family: 'LatoLight';
      font-weight: 700;
      color: #666666; }
    .page-sc .info-sc span {
      color: #ccc; }
  .page-sc .btn {
    margin-top: 20px;
    margin-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px; }
  .page-sc .callback {
    display: flex;
    align-items: center; }
  .page-sc .count-clients {
    display: flex;
    align-items: center;
    color: #808080; }
    .page-sc .count-clients img, .page-sc .count-clients div {
      display: inline-block;
      line-height: 1;
      margin-left: 5px; }
    .page-sc .count-clients img {
      margin-left: -10px;
      margin-right: 5px; }
    .page-sc .count-clients .count {
      font-size: 32px; }
  .page-sc .rating {
    line-height: 1;
    font-family: 'LatoLight';
    font-weight: 700;
    color: #808080; }
    .page-sc .rating .count {
      color: #ff8f00;
      font-size: 40px; }
  .page-sc .comments {
    line-height: 1;
    font-family: 'LatoLight';
    font-weight: 700;
    color: #808080; }
    .page-sc .comments .count {
      font-size: 40px; }
  .page-sc .tag {
    background-color: #03b55b;
    color: #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 3px 7px;
    margin-top: 3px;
    margin-bottom: 3px;
    display: inline-block; }
    .page-sc .tag:not(:first-child) {
      margin-left: 3px; }
  .page-sc .photos .photo-item {
    margin-top: 10px;
    cursor: pointer; }
  .page-sc .photos .panorama {
    margin-top: 10px;
    position: relative;
    cursor: pointer; }
    .page-sc .photos .panorama .panorama-item {
      width: 100%; }
    .page-sc .photos .panorama .icon-panorama {
      color: #ffffff;
      position: absolute;
      left: 50%;
      top: 50%;
      font-size: 40px;
      width: 40px;
      height: 40px;
      transform: translate(-50%, -50%); }
  .page-sc .certificate .certificate-item {
    cursor: pointer;
    margin-top: 10px; }
  .page-sc .personal-sc .slick-item {
    cursor: pointer; }
    .page-sc .personal-sc .slick-item h4 {
      font-size: 14px;
      color: #404040; }
    .page-sc .personal-sc .slick-item p {
      font-size: 12px;
      padding-right: 50px; }
    .page-sc .personal-sc .slick-item img {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      margin-right: 10px;
      width: 100px;
      height: 100px; }

.comments-section .comments-header {
  background-color: #fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border: 1px solid #e2e2e2;
  padding-top: 20px;
  padding-bottom: 20px; }
  .comments-section .comments-header .total-comments {
    font-size: 16px;
    color: #ff8f00; }
  .comments-section .comments-header rating {
    margin-top: 10px; }
  .comments-section .comments-header .text-rating {
    font-size: 14px;
    color: #666666;
    font-family: 'LatoRegular';
    font-weight: 700; }
  .comments-section .comments-header .count-rating .count {
    font-size: 16px;
    color: #ff8f00; }
  .comments-section .comments-header .count-rating span {
    color: #eeeeee; }
  .comments-section .comments-header .total-count .count {
    font-size: 30px;
    color: #ff8f00; }
  .comments-section .comments-header .total-count span {
    color: #eeeeee; }
  .comments-section .comments-header .star.star-on {
    color: #ff8f00; }
  .comments-section .comments-header .star {
    cursor: default; }

.modal .comment-item {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  background-color: #fff;
  box-shadow: none;
  display: flex;
  align-items: stretch;
  border: none; }
  .modal .comment-item .add-comment-text {
    width: 100%;
    height: 100%;
    border: none; }
  .modal .comment-item .input {
    width: 100%;
    border: none;
    border-bottom: 1px solid; }
  .modal .comment-item .input.ng-invalid.ng-touched {
    border-bottom: 1px solid red; }
  .modal .comment-item .input.ng-valid.ng-touched {
    border-color: #000; }
  .modal .comment-item .input-error {
    border-bottom: 1px solid red; }
  .modal .comment-item .star {
    font-size: 14px !important;
    cursor: pointer !important; }
  .modal .comment-item .star.star-high {
    color: #ff8f00; }

.comment-item {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  background-color: #fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border: 1px solid #e2e2e2; }
  .comment-item .rating {
    font-size: 50px;
    color: #ff8f00;
    font-family: 'LatoLight';
    margin-bottom: 15px; }
    .comment-item .rating span {
      font-size: 35px; }
  .comment-item .device-name,
  .comment-item .service-name {
    margin-bottom: 10px;
    color: #666666; }
    .comment-item .device-name span,
    .comment-item .service-name span {
      color: #000; }
  .comment-item .social {
    display: flex; }
  .comment-item .ya-share2 {
    display: inline-block; }
  .comment-item .ya-share2__list_direction_horizontal > .ya-share2__item {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0.8; }
    .comment-item .ya-share2__list_direction_horizontal > .ya-share2__item:hover {
      opacity: 1; }
  .comment-item .info-comment {
    color: #cccccc; }
  .comment-item .avatar {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-right: 10px; }
  .comment-item .name {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 5px;
    font-family: 'LatoLight'; }
  .comment-item .date {
    font-size: 14px;
    font-family: 'LatoLight'; }
  .comment-item .rating-details div {
    clear: both; }
  .comment-item .rating-details span {
    display: inline-block; }
  .comment-item .rating-details rating {
    display: inline-block;
    float: right; }
  .comment-item .rating-details .star.star-on {
    color: #ff8f00; }
  .comment-item .rating-details .star {
    cursor: default;
    font-size: 10px; }

.diagnostics {
  margin-top: 30px;
  margin-bottom: 100px;
  overflow: hidden; }
  .diagnostics .diagnostics-header {
    background-color: #e4eeff; }
    .diagnostics .diagnostics-header .step.active {
      display: inline-block;
      color: #ffffff;
      border: 1px solid #5c79ab;
      background-color: #7c9dd8;
      width: 100%; }
    .diagnostics .diagnostics-header .step {
      color: #5774a6;
      padding: 10px;
      position: relative;
      margin-left: -15px;
      margin-right: -15px; }
    .diagnostics .diagnostics-header .line {
      font-size: 45px;
      font-family: 'LatoLight'; }
    .diagnostics .diagnostics-header .step-count {
      font-size: 40px;
      display: inline-block;
      font-family: 'LatoLight';
      margin-right: 10px; }
    .diagnostics .diagnostics-header .title-step {
      font-size: 16px;
      display: inline-block;
      font-family: 'LatoLight';
      font-weight: 700;
      margin-left: 10px; }
  .diagnostics .diagnostics-body {
    padding-top: 100px;
    padding-bottom: 100px;
    border-left: 1px solid #dbe7fb;
    border-right: 1px solid #dbe7fb;
    background-color: #f5f9ff; }
    .diagnostics .diagnostics-body h3 {
      margin: 0; }
  .diagnostics .diagnostics-footer .btn {
    width: 100%; }

.photo-show {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none; }

.modal .modal-footer {
  border-color: #fff;
  padding: 0; }
  .modal .modal-footer .btn-danger {
    float: left;
    width: 50%;
    margin: 0;
    display: inline-block;
    border-radius: 0 0 0 3px; }
  .modal .modal-footer .btn-warning {
    float: right;
    width: 50%;
    display: inline-block;
    margin-left: 0;
    border-radius: 0 0 3px 0; }

.form-sign-in {
  margin-top: 200px;
  margin-bottom: 210px;
  border: 1px solid #9c9c9c;
  padding: 20px;
  box-shadow: 0px 3px 10px #6d6d6d; }
  .form-sign-in input, .form-sign-in label {
    width: 100%; }
  .form-sign-in .btn {
    float: right;
    margin-top: 10px; }

.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #cccccc;
  position: relative;
  background-color: #ffffff;
  z-index: 3;
  line-height: 1; }
  .footer img {
    margin-bottom: 5px; }
  .footer .phone, .footer .mail, .footer .time {
    color: #666666; }
  .footer ul li {
    list-style: none; }
    .footer ul li a {
      line-height: 1.5;
      font-size: 16px;
      color: #cccccc; }
      .footer ul li a:hover {
        color: #000000; }

/*# sourceMappingURL=app.css.map */
