/****** Searchable container */

.error{
    border: 1px solid #f31e1e;
    background-color: #f97881;
    color: #fff;
}

.error ul {
    list-style-type: none;
    margin:0;
    padding:0;
}
.error,
.success {
    text-align: center;
    margin-bottom: 15px;
    padding: 5px;
}

.success{
    border: 1px solid green;
    background-color: #00a65a;
    color: #fff;
}

.user_profile {
    padding-top: 30px;
}

.title{
    margin-left:20px
}


.searchable-container{
    margin-top:40px;
}

.glyphicon-lg{
    font-size:4em
}
.info-block{
    border-right:5px solid #E6E6E6;margin-bottom:25px
}
.info-block .square-box {
    width:120px;
    min-height:120px;
    margin-right:22px;
    text-align:center!important;
    background-color:#676767;
    padding:20px 0
}
.info-block:hover .info-block.block-info {
    border-color:#20819e
}

.info-block.block-info .square-box {
    background-color:#5bc0de;
    color:#FFF
}


.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #333333;
}



/*   */

.btn-compose-email {
    padding: 10px 0px;
    margin-bottom: 20px;
}

.btn-danger {
    background-color: #E9573F;
    border-color: #E9573F;
    color: white;
}

.panel-teal .panel-heading-black {
    background-color: #333333;
    border: 1px solid #333333;
    color: white;
}

.panel-teal .panel-heading {
    background-color: #333333;
    border: 1px solid #333333;
    color: white;
}

.panel .panel-heading {
    padding: 5px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom: 1px solid #DDD;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.panel .panel-heading .panel-title {
    padding: 10px;
    font-size: 17px;
}

form .form-group {
    position: relative;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.inner-all {
    padding: 10px;
}

/* ========================================================================
 * MAIL
 * ======================================================================== */
.nav-email > li:first-child + li:active {
    margin-top: 0px;
}
.nav-email > li + li {
    margin-top: 1px;
}
.nav-email li {
    background-color: white;
    border: 1px solid #ddd;
}
.nav-email li.active {
    background-color: transparent;
}
.nav-email li.active .label {
    background-color: white;
    color: black;
}
.nav-email li a {
    color: black;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.nav-email li a:hover {
    background-color: #EEEEEE;
}
.nav-email li a i {
    margin-right: 5px;
}
.nav-email li a .label {
    margin-top: -1px;
}

.table-email tr:first-child td {
    border-top: none;
}
.table-email tr td {
    vertical-align: top !important;
}
.table-email tr td:first-child, .table-email tr td:nth-child(2) {
    text-align: center;
    width: 35px;
}
.table-email tr.unread, .table-email tr.selected {
    background-color: #EEEEEE;
}
.table-email .media {
    margin: 0px;
    padding: 0px;
    position: relative;
}
.table-email .media h4 {
    margin: 0px;
    font-size: 14px;
    line-height: normal;
}
.table-email .media-object {
    width: 35px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.table-email .media-meta, .table-email .media-attach {
    font-size: 11px;
    color: #999;
    position: absolute;
    right: 10px;
}
.table-email .media-meta {
    top: 0px;
}
.table-email .media-attach {
    bottom: 0px;
}
.table-email .media-attach i {
    margin-right: 10px;
}
.table-email .media-attach i:last-child {
    margin-right: 0px;
}
.table-email .email-summary {
    margin: 0px 110px 0px 0px;
}
.table-email .email-summary strong {
    color: #333;
}
.table-email .email-summary span {
    line-height: 1;
}
.table-email .email-summary span.label {
    padding: 1px 5px 2px;
}
.table-email .ckbox {
    line-height: 0px;
    margin-left: 8px;
}
.table-email .star {
    margin-left: 6px;
}
.table-email .star.star-checked i {
    color: goldenrod;
}

.nav-email-subtitle {
    font-size: 15px;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 15px;
    margin-top: 30px;
}

.compose-mail {
    position: relative;
    padding: 15px;
}
.compose-mail textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #DDD;
}

.view-mail {
    padding: 10px;
    font-weight: 300;
}

.attachment-mail {
    padding: 10px;
    width: 100%;
    display: inline-block;
    margin: 20px 0px;
    border-top: 1px solid #EFF2F7;
}
.attachment-mail p {
    margin-bottom: 0px;
}
.attachment-mail a {
    color: #32323A;
}
.attachment-mail ul {
    padding: 0px;
}
.attachment-mail ul li {
    float: left;
    width: 200px;
    margin-right: 15px;
    margin-top: 15px;
    list-style: none;
}
.attachment-mail ul li a.atch-thumb img {
    width: 200px;
    margin-bottom: 10px;
}
.attachment-mail ul li a.name span {
    float: right;
    color: #767676;
}

@media (max-width: 640px) {
    .compose-mail-wrapper .compose-mail {
        padding: 0px;
    }
}
@media (max-width: 360px) {
    .mail-wrapper .panel-sub-heading {
        text-align: center;
    }
    .mail-wrapper .panel-sub-heading .pull-left, .mail-wrapper .panel-sub-heading .pull-right {
        float: none !important;
        display: block;
    }
    .mail-wrapper .panel-sub-heading .pull-right {
        margin-top: 10px;
    }
    .mail-wrapper .panel-sub-heading img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    .mail-wrapper .panel-footer {
        text-align: center;
    }
    .mail-wrapper .panel-footer .pull-right {
        float: none !important;
        margin-left: auto;
        margin-right: auto;
    }
    .mail-wrapper .attachment-mail ul {
        padding: 0px;
    }
    .mail-wrapper .attachment-mail ul li {
        width: 100%;
    }
    .mail-wrapper .attachment-mail ul li a.atch-thumb img {
        width: 100% !important;
    }
    .mail-wrapper .attachment-mail ul li .links {
        margin-bottom: 20px;
    }

    .compose-mail-wrapper .search-mail input {
        width: 130px;
    }
    .compose-mail-wrapper .panel-sub-heading {
        padding: 10px 7px;
    }
}










/*font Awesome http://fontawesome.io*/
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
/*Comment List styles*/
.comment-list .row {
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 10px;
}
.comment-list .panel .panel-heading {
    padding: 4px 15px;
    position: absolute;
    border:none;
    /*Panel-heading border radius*/
    border-top-right-radius:0px;
    top: 1px;
}
.comment-list .panel .panel-heading.right {
    border-right-width: 0px;
    /*Panel-heading border radius*/
    border-top-left-radius:0px;
    right: 16px;
}
.comment-list .panel .panel-heading .panel-body {
    padding-top: 6px;
}
.comment-list figcaption {
    /*For wrapping text in thumbnail*/
    word-wrap: break-word;
}
/* Portrait tablets and medium desktops */
@media (min-width: 768px) {
    .comment-list .arrow:after, .comment-list .arrow:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
    }
    .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
        border-left: 0;
    }
    /*****Left Arrow*****/
    /*Outline effect style*/
    .comment-list .panel.arrow.left:before {
        left: 0px;
        top: 30px;
        /*Use boarder color of panel*/
        border-right-color: inherit;
        border-width: 16px;
    }
    /*Background color effect*/
    .comment-list .panel.arrow.left:after {
        left: 1px;
        top: 31px;
        /*Change for different outline color*/
        border-right-color: #FFFFFF;
        border-width: 15px;
    }
    /*****Right Arrow*****/
    /*Outline effect style*/
    .comment-list .panel.arrow.right:before {
        right: -16px;
        top: 30px;
        /*Use boarder color of panel*/
        border-left-color: inherit;
        border-width: 16px;
    }
    /*Background color effect*/
    .comment-list .panel.arrow.right:after {
        right: -14px;
        top: 31px;
        /*Change for different outline color*/
        border-left-color: #FFFFFF;
        border-width: 15px;
    }
}
.comment-list .comment-post {
    margin-top: 6px;
}


/****  Request page  *****/


/*	--------------------------------------------------
	:: Table Filter
	-------------------------------------------------- */
.panel {
    border: 1px solid #ddd;
    background-color: #fcfcfc;
}
.panel .btn-group {
    margin: 15px 0 30px;
}
.panel .btn-group .btn {
    transition: background-color .3s ease;
}
.table-filter {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
    background-color: #fcfcfc;
}
.table-filter tbody tr td {
    padding: 10px;
    vertical-align: middle;
    border-top-color: #eee;
}
.table-filter tbody tr.selected td {
    background-color: #eee;
}
.table-filter tr td:nth-child(1) {
    width: 100px;
    vertical-align: top;
}

.r_id {
    font-size: 12px;
    color: #656262;
    font-weight: bold;
}
.ckbox {
    position: relative;
}
.ckbox input[type="checkbox"] {
    opacity: 0;
}
.ckbox label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ckbox label:before {
    content: '';
    top: 1px;
    left: 0;
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    border-radius: 2px;
    border: 1px solid #bbb;
    background-color: #fff;
}
.ckbox input[type="checkbox"]:checked + label:before {
    border-color: #2BBCDE;
    background-color: #2BBCDE;
}
.ckbox input[type="checkbox"]:checked + label:after {
    top: 3px;
    left: 3.5px;
    content: '\e013';
    color: #fff;
    font-size: 11px;
    font-family: 'Glyphicons Halflings';
    position: absolute;
}
.table-filter .star {
    color: #ccc;
    text-align: center;
    display: block;
}
.table-filter .star.star-checked {
    color: #F0AD4E;
}
.table-filter .star:hover {
    color: #ccc;
}
.table-filter .star.star-checked:hover {
    color: #F0AD4E;
}
.table-filter .media-photo {
    width: 35px;
}
.table-filter .media-body {

    /* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
}
.table-filter .media-meta {
    font-size: 11px;
    color: #999;
}
.table-filter .media .title {
    color: #2BBCDE;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
}
.table-filter .media .title span {
    font-size: .8em;
    margin-right: 20px;
}
span.expect {
    color: #1e85b8;
}
span.in_work {
    color: #5cb85c;
}
span.pend {
    color: #f0ad4e;
}
span.cancel {
    color: #d9534f;
}
.table-filter .media .summary {
    font-size: 14px;
}
.user_request_ul{
    list-style-type: none;
    padding-left: 20px;
}
.status_desc{
    font-size: 12px;
    color: #807e7e;
}


/*	--------------------------------------------------
	:: Chat
	-------------------------------------------------- */

.new_message_head button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}
.new_message_head {
    background: #f5f3f3 none repeat scroll 0 0;
    float: left;
    font-size: 13px;
    font-weight: 600;
    padding: 18px 10px;
    width: 100%;
}
.message_section {
    border: 1px solid #dddddd;
    margin-bottom: 20px;
}
.chat_time{
    margin-bottom: -15px;
    padding:0;
}
.time_mess{
    font-size: 12px;
    color: #7b7a7a;
    font-style: italic;
}
.chat_area {
    float: left;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}
.chat_area li {
    padding: 14px 14px 0;
}
.chat_area li .chat-img1 img {
    height: 40px;
    width: 40px;
}
.chat_area .chat-body1 {
    margin-left: 50px;
}
.chat-body1 p {
    background: #f5f3f3 none repeat scroll 0 0;
    padding: 10px;
}
.chat_area .admin_chat .chat-body1 {
    margin-left: 0;
    margin-right: 50px;
}
.chat_area li:last-child {
    padding-bottom: 10px;
}
.message_write {
    background: #f5f3f3 none repeat scroll 0 0;
    float: left;
    padding: 15px;
    width: 100%;
}

.message_write textarea.form-control {
    height: 70px;
    padding: 10px;
}
.chat_bottom {
    float: left;
    margin-top: 13px;
    width: 100%;
}
.upload_btn {
    color: #777777;
}
.sub_menu_ > li a, .sub_menu_ > li {
    float: left;
    width:100%;
}
.member_list li:hover {
    background: #428bca none repeat scroll 0 0;
    color: #fff;
    cursor:pointer;
}



.well {
    padding: 0 20px;
}
.input-search-rid {
    margin: 20px auto;
    width: 100%;
}
input.btn.btn-lg,
input.btn.btn-lg:focus {
    outline: none;
    width: 60%;
    height: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.find_rid {
    width: 40%;
    height: 50px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}